<h1>Birthday App</h1>
<br>
<h2>Please enter your name</h2>
<form action="/input" method="post">
	<input type="text" name="user_name">
</form>
<h2>When is your birthday?</h2>
<form action="/input" method="post">
	<input type="text" name="day">
	<select name="Month">
		<option value="Jan">January</option>
		<option value="Feb">February</option>
		<option value="Mar">March</option>
		<option value="Apr">April</option>
		<option value="May">May</option>
		<option value="Jun">June</option>
		<option value="Jul">July</option>
		<option value="Aug">August</option>
		<option value="Sep">September</option>
		<option value="Oct">October</option>
		<option value="Nov">November</option>
		<option value="Dec">December</option>
	</select>
	<br>
	<input type="submit" name="submit" value="submit">
</form>